<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         metadata-complete="false"
         version="3.1">

    <context-param>
        <param-name>liquibase.changelog</param-name>
        <param-value>/changelog.xml</param-value>
    </context-param>

    <context-param>
        <param-name>liquibase.datasource</param-name>
        <param-value>java:jboss/jdbc/timetracker</param-value>
    </context-param>

    <context-param>
        <param-name>liquibase.onerror.fail</param-name>
        <param-value>true</param-value>
    </context-param>

    <listener>
        <listener-class>liquibase.integration.servlet.LiquibaseServletListener</listener-class>
    </listener>

</web-app>